@import url(../../styles/GlobalStyles.css);

.about__container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-inline: auto;
      min-width: 332px;
      width: 332px;
      transition: width .5s ease-in-out;
      margin-top: 110px;
}

.about__tittle {
      font-size: var(--title2);
      font-weight: 800;
      font-family: var(--font);
      min-width: 211px;
      flex-shrink: 0;
}

.about__paragraph {
      font-family: var(--font);
      font-size: var(--paragraph);
      min-width: 332px;
      max-width: 332px;
      margin-top: 25px;
      text-align: justify;
      flex-shrink: 0;
      line-height: 30px;
      margin-inline: auto;

}


@media screen and (min-width:391px) {
      .about__container {
            max-width: 900px;
            width: 90vw;
            margin-top: 88px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
      }

      .about__paragraph {
            width: 60%;
            max-width: 615px;
      }

      .about__tittle {
            width: 36%;
      }
}